.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top {
  width: 100%;

  .profile-picture {
    background-image: url(./assets/profile.gif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid black;
  }  
}

.bottom {
  width: 100%;
}


.links-wrapper {
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    .link-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 3px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        width: 100%;
        &:hover {
          color: pink;
        }
    }
  }
}